<header>
    <h1>{{title}}</h1>
</header>
<form>
    <input id='Search' type="text" value="" name="text" placeholder="Type any gipghy" required>
    <input id='submit' type="submit" value="Search">
</form>
<footer>
    <p>Copyright 2019</p>
</footer>