<footer class="footer">
    <form method="POST" action="/contact" class="contact">
        <input type="text" name="name" id="name" placeholder="Your Name" required>
        <input type="email" name="email" id="email" placeholder="expamle@example.com" required>
        <input type="submit" value="Submit" placeholder="" class="contact__button submit" required>
    </form>
    <p class="footer__rights"> Your Gallery © 2019 All Rights Reserved</p>
</footer>